html,
body {
  background: $color-white-2;
  font-family: $font-main, sans-serif;
  font-size: $browser-context+px;
  line-height: 1.4;
  color: $color-black;
}
body {
  overflow: hidden;
  position: relative;
}
html {
  overflow: auto;
  overflow-x: hidden;
} /* ie7+ */

a {
  color: $color-black;
}
a:hover {
  text-decoration: none;
}

button:focus,
a:focus {
  outline: none !important;
}

img {
  max-width: 100%;
}
.img-fit {
  width: 100%;
}

.align-center {
  text-align: center;
  * {
    margin: 0 auto;
  }
}

.stick {
  display: inline-block;
}

.avoid-click {
  @include avoid-click;
}

/* typo global */
.font-style-1 {
  font-size: rem(65);
  @include media-breakpoint-max-1440 {
    font-size: rem(55);
  }
  @include media-breakpoint-max-lg {
    font-size: rem(40);
  }
  @include media-breakpoint-max-md {
    font-size: rem(30);
  }
}
.font-style-2 {
  font-size: rem(45);
  @include media-breakpoint-max-1440 {
    font-size: rem(40);
  }
  @include media-breakpoint-max-lg {
    font-size: rem(34);
  }
  @include media-breakpoint-max-md {
    font-size: rem(28);
  }
}
.font-style-3 {
  font-size: rem(35);
  @include media-breakpoint-max-1440 {
    font-size: rem(32);
  }
  @include media-breakpoint-max-lg {
    font-size: rem(28);
  }
  @include media-breakpoint-max-md {
    font-size: rem(24);
  }
}
.font-style-4 {
  font-size: rem(24);
  @include media-breakpoint-max-lg {
    font-size: rem(20);
  }
  @include media-breakpoint-max-md {
    font-size: rem(20);
  }
}

.text-shadow-inset {
  background-color: #000000 !important;
  color: transparent !important;
  text-shadow: 1px 1px 1px rgba(255,255,255,1) !important;
  -webkit-background-clip: text !important;
     -moz-background-clip: text !important;
          background-clip: text !important;
}

.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}

.text-white {
  color: $color-white;
}
.text-black {
  color: $color-black;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* Begin */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
.app {
  padding: 0 0 70px 0;
}

.header-bar {
  background: $color-black;
  color: $color-white;
  height: 70px;
  text-align: center;
  .btn {
    color: $color-white;
  }
  .form-control {
    background: url('../img/icon-magnifier.png') no-repeat 15px center $color-white;
    border-radius: 15px;
    border: none;
    padding-left: 40px;
  }
}

.list-menu-top {
  background: $color-white;
  text-align: center;
  margin: 0;
  padding: .5rem 0 0;
  li {
    display: inline-block;
    margin: 0 2.5rem;
    @include media-breakpoint-max-md {
      margin: 0 1.5rem;
    }
  }
  a {
    display: block;
    padding: .5rem 0;
  }
  a:hover,
  .active {
    border-bottom: solid 3px $color-black;
  }
}

.list-menu-filter {
  background: $color-white;
  padding: 1rem 0;
  display: flex;
  width: 100%;
  li {
    display: block;
    text-align: center;
    flex-grow: 1;
    padding: 0 .25rem;
    .icon {
      display: block;
      margin: 0 auto .5rem auto;
      width: 50px;
      @include media-breakpoint-max-sm {
        width: 30px;
        margin-bottom: .25rem;
      }
    }
    .text {
      @include media-breakpoint-max-sm {
        font-size: rem(12);
      }
    }
  }
}

.js-slider {
  position: relative;
  .slider-item {
    float: left;
    width: 100%;
  }
  .slick-dots {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    height: 10px;
    li {
      margin: 0 5px;
      display: inline-block;
      list-style-type: none;
      button {
        margin: 0;
        padding: 0;
        text-indent: -9999px;
        display: block;
        width: 10px;
        height: 10px;
        background: $color-black;
        border-radius: 10px;
        border: none;
        opacity: .5;
      }
      &.slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }
}
.js-slider--thumb {
  margin: 0 -1.5rem;
  .slick-dots {
    position: relative;
    bottom: auto;
    padding: 1rem;
  }
}

.block-content {
  background: $color-white;
  padding: 1rem;
  position: relative;
  @include media-breakpoint-min-md {
    padding: 2rem;
  }
  .link-more {
    position: absolute;
    right: 1rem;
    top: 1rem;
    @include media-breakpoint-min-md {
      right: 2rem;
      top: 2.5rem;
    }
  }
}

.item-content {
  display: block;
  margin: 0 1.5rem;
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  .thumb {
    margin: 0 0 .5rem 0;
    display: block;
  }
  .title {
    margin: 0 0 .5rem 0;
    display: block;
    max-height: 50px;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-max-sm {
      font-size: rem(14);
      font-weight: bold;
      max-height: 38px;
    }
    @include media-breakpoint-min-md {
      text-align: center;
    }
  }
  .desc {
    display: none;

    font-size: rem(14);
  }
  .author {
    font-size: rem(14);
    color: $color-grey;
    text-align: center;
  }
  .cname {
    display: none;

    font-size: rem(14);
    border: solid 1px $color-blue-2;
    color: $color-blue-2;
    text-align: center;
    border-radius: 15px;
    //display: inline-block;
    padding: 0 .5rem;
  }
}

.list-content-thumb {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -1.5rem;
  padding: 0;
  li {
    flex-grow: 1;
    flex: 0 0 33.3333%;
    margin-bottom: .5rem;
    overflow: hidden;
  }
  &.show1hi li:nth-child(1),
  &.show2hi li:nth-child(1),
  &.show2hi li:nth-child(2) {
    flex: 0 0 100%;
    margin: 0 0 .5rem 0;
    .thumb {
      float: left;
      width: calc(33.3333% - 2rem);
      margin-right: 1rem;
    }
    .title,
    .desc {
      float: left;
      display: block;
      width: 68%;
    }
    .title {
      margin: 1rem 0 .5rem 0;
      max-height: 25px;
      overflow: hidden;
      position: relative;
      text-align: left;
      @include media-breakpoint-max-sm {
        margin-top: 0;
        max-height: 19px;
      }
    }
    .desc {
      color: $color-grey;
      margin-bottom: .5rem;
      max-height: 76px;
      overflow: hidden;
      position: relative;
      @include media-breakpoint-max-sm {
        max-height: 57px;
      }
    }
    .author {
      display: inline-block;
      margin-right: .5rem;
      color: $color-black;
    }
    .cname {
      display: inline-block;
    }
  }
}

.list-menu-genre {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  text-align: center;
  margin-top: 1rem;
  li {
    font-size: rem(14);
    flex-grow: 1;
    padding: 0 1rem;
    flex: 0 0 33.3333%;
    a {
      background: $color-black;
      color: $color-white;
      display: block;
      border-radius: 30px;
      padding: .5rem;
    }
    &.blue a {
      background: $color-blue;
    }
    &.orange a {
      background: $color-orange;
    }
    &.green a {
      background: $color-green;
    }
  }
}

.bar-fixed {
  background: $color-black;
  color: $color-white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 70px;
  a {
    color: $color-white;
  }
}

.list-menu-main {
  padding: .5rem 0;
  margin: 0;
  display: flex;
  width: 100%;
  @include media-breakpoint-min-md {
    width: 70%;
    margin: 0 auto;
  }
  @include media-breakpoint-min-xl {
    width: 50%;
  }
  li {
    display: block;
    text-align: center;
    flex-grow: 1;
    .icon {
      display: block;
      margin: 0 auto .25rem auto;
      width: 30px;
    }
    .text {
      font-size: rem(14);
      display: block;
    }
  }
}
