/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* Var */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
$browser-context: 18;

$font-main: Arial;

$color-black: #2e2e30;
$color-grey: #8a8a8a;
$color-white: #f8f8f8;
$color-white-2: #f1f1f1;

$color-blue: #00cccb;
$color-blue-2: #75a8e7;
$color-orange: #ff9934;
$color-green: #989933;

@import "mixin";
@import "global";
